$btn-bg-color:#F29724;
.container{
    background-color: white;

    img{
        margin-top: 50px;
        width: 25%;
    }
    button{
        width: 80%;
        background-color:$btn-bg-color ;
        font-size: 20px;
        margin: 25px auto auto auto;
    
        &:hover{
            box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
            transition: .5s all ;
        }
    }

    }

